@use "../../../style/scss/" as c;

$inputSendMessage: 60px;

$sendIconWidth: 40px;

@mixin flex-direct($direc: start) {
    justify-content: $direc;
}

.container {
    display: flex;
    flex-direction: column;
    height: calc(100%);
    position: relative;
    max-height: 60vh;
    .shopName {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .messageContent{   
        min-height: 90%;
        font-size: 16px;
        padding: 0;
        .messageList {
            list-style-type:none;
            height: calc(100% - $inputSendMessage);
            overflow-y: auto;
            margin: 0px;
            padding: 0px;

        &::-webkit-scrollbar {
            width: 4px; /* Customize the width of the scrollbar */
        }
            
        &::-webkit-scrollbar-track {
        background-color: #f1f1f1; /* Customize the background color of the scrollbar track */
        }
        
        &::-webkit-scrollbar-thumb {
        background-color: #888; /* Customize the color of the scrollbar thumb */
        }
            .messagecontainer {
                padding: 10px;
                .messageItem {
                    margin-top: 14px;
                    margin-bottom: 14px;
                    display: flex;
                    @include flex-direct();
                    width: 100%;
    
                    .messageData {
                        padding: 10px 10px 16px 10px;
                        position: relative;
                        overflow: hidden;
                        word-break: break-all;
                        min-width: 60px;
                        max-width: 60%;
                        background-color: rgba(0, 0, 0, 0.1);
                    }
    
                    .messageTime {
                        position: absolute;
                        font-size: 10px;
                        font-weight: 400;
                        bottom: 0;
                        right: 0;
                    }
                }
    
                .messageItemSelf {
                    margin-top: 14px;
                    margin-bottom: 14px;
                    display: flex;
                    @include flex-direct(end);
                    width: 100%;
                    .messageData {
                        position: relative;
                        overflow: hidden;
                        word-break: break-all;
                        max-width: 60%;
                        min-width: 60px;
                        padding: 10px 10px 16px 10px;
                        background-color: c.$Accent1;
                    }
    
                    .messageTime {
                        position: absolute;
                        font-size: 10px;
                        font-weight: 400;
                        bottom: 0;
                        right: 0;
                    }
                }
            }
        }
    }
    
    
}
.wrapperInputSend {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    bottom: 0px;
    max-height: $inputSendMessage;
    width: 100%;
    z-index: 2;

    .inputBox {
        overflow-y: auto;
        width: 100%;
        height: $inputSendMessage;
        
        .inputSend {
            height: $inputSendMessage;
            width: 100%;
            font-size: 14px;
        }
    }

    .sendIcon {
        padding: 20px;
        color: c.$Accent7;
        font-size: 24px;
        &:hover {
            cursor: pointer;
            background-color: c.$Dominant1;
        }
    }
}