


$templateConstrast5: #000000;
$templateConstrast4: #24263A;
$templateConstrast3: #232323;
$templateConstrast2: #3e4044;
$templateConstrast1: #ffebeb;
$template5: rgb(253, 255, 236);
$template4: rgba(174, 174, 174, 0.709);
$template3: #ffffff;
$template2: #ffffff;
$template1: #566068;
$templateTable: #dcffed;
$templateTextTable: #10001a;


$Dominant1: rgb(205, 255, 166);
$Dominant2: rgb(228, 223, 209);
$Dominant3: rgb(255, 235, 235);
$Dominant4: rgb(255, 255, 255);
$Dominant5: #cdffa6;
$Complementary0: #000000;
$Complementary1: #0a0a0a;
$Complementary1-tag: rgba(10, 10, 10, 0.7);
$Complementary1-header: rgba(10, 10, 10, 0.8);
$Complementary2: rgb(62, 62, 62);
$Complementary3: rgb(54, 54, 54);
$Complementary4: rgb(42, 45, 49);
$Complementary5: rgb(94, 94, 94);
$Complementary6: rgba(165, 165, 165, 0.645);
$Complementary7: rgba(176, 175, 175, 0.645);
$Complementary8: rgba(188, 188, 188, 0.645);
$Accent1: rgb(178, 223, 255);
$Accent2: rgb(164, 193, 236);
$Accent3: rgb(158, 162, 212);
$Accent4: rgb(156, 131, 182);
$Accent5: rgb(152, 100, 147);
$Accent6: rgb(144, 69, 106);
$Accent7: rgb(4, 0, 30);
